{% extends "church/base.html" %}

{% block title %} Member List {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Members</h1>
    <a href="{% url 'add_members' %}" class="btn btn-primary btn-lg" role="button">Add member</a>
    <table class="table table-bordered table-striped text-center w-100">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone No</th>
                <th>Sex</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Office Address</th>
                <th>Email</th>
                <th>Marital Status</th>
                <th>Occupation</th>
                <th>Date Joined Church</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for Member in members %}
            <tr>
                <td>{{ Member.id}} </td>
                <td>{{ Member.name}} </td>
                <td>{{ Member.phone}} </td>
                <td>{{ Member.sex}} </td>
                <td>{{ Member.dob}} </td>
                <td>{{ Member.address}} </td>
                <td>{{ Member.office_address}} </td>
                <td>{{ Member.email}} </td>
                <td>{{ Member.marital_status}} </td>
                <td>{{ Member.occupation}} </td>
                <td>{{ Member.date_joined_church}} </td>
                <td>
                    <a href="{% url 'update-member' pk=Member.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'delete-member' pk=Member.id %}" class="btn btn-danger">Delete</a>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}